<!-- FOOTER -->
footer.foo
	.wrapper
		.foo-box
			.foo-menu
				ul.foo-menu-list.foo-copy
					li 
						a.logo-foo(href="")
							img(src="img/logo.png" alt="logo")
					li © Cyprus-Board.com, 2018
					li Доска объявлений Кипр
					li.foo-pay
						img(src="img/footer_pay.png" alt="logo")
			.foo-menu
				ul.foo-menu-list
					li
						a(href="") О нас
					li
						a(href="") Политика конфиденциальности
					li
						a(href="") Публичная оферта
					li
						a(href="") Обратная связь
					li
						a(href="") 
			.foo-menu
				ul.foo-menu-list
					li
						a(href="") Платные услуги
					li
						a(href="") Условия использования
					li
						a(href="") Партнеры
			.foo-menu
				ul.foo-menu-list
					li График работы Сall-центра
					li В будние дни с 9 до 21
					li Суббота 10 до 18
					li Воскресенье 10 до 18
					li.foo-menu-list-phone
						img(src="img/tel.png" alt="tel")
						span 0 800 770 18